/* line 1, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/base.scss */
body {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  min-width: 320px; }

/* line 8, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/base.scss */
.wrap {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  margin: 0 auto;
  width: 80%;
  border-right: 1px solid #333333;
  border-left: 1px solid #333333; }

/* line 17, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/base.scss */
.main {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  float: left;
  width: 100%;
  margin: 0 0 100px 0;
  padding: 30px 0 0 0; }

/* line 28, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/base.scss */
.full {
  width: 100%;
  margin: 0 5% 2% 0; }

/* line 33, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/base.scss */
.row {
  width: 100%;
  clear: both; }

/* line 38, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/base.scss */
.third, .two {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  display: block; }
  /* line 44, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/base.scss */
  .third h2, .third h3, .two h2, .two h3 {
    text-align: center; }

/* line 50, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/base.scss */
.third {
  width: 20%;
  margin: 5% 0 10% 10%; }
  /* line 53, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/base.scss */
  .third h2 {
    margin: 0 0 35px 0;
    margin: 15px 0 35px 0; }
  /* line 58, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/base.scss */
  .third .icon-container {
    width: 130px;
    height: 130px;
    margin: 0 auto; }
    /* line 62, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/base.scss */
    .third .icon-container img {
      display: block;
      opacity: 0.55;
      transition: opacity 1s; }
      /* line 66, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/base.scss */
      .third .icon-container img:hover {
        opacity: 1.0; }

/* line 75, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/base.scss */
.two {
  width: 40%;
  margin: 5%; }

/* line 83, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/base.scss */
figure img {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 65%;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px; }

/* line 96, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/base.scss */
#instagram {
  margin: 0;
  padding: 0;
  overflow: hidden; }
  /* line 100, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/base.scss */
  #instagram li {
    list-style: none;
    float: left;
    margin: 0 20px 20px 0; }

/* line 109, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/base.scss */
.large {
  font-size: 48px; }

/* line 113, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/base.scss */
.fade {
  opacity: 0.5;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease; }

/* line 120, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/base.scss */
.fade:hover {
  opacity: 1;
  top: -5px; }

/* line 125, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/base.scss */
.header-title {
  margin: 5%; }

/* line 129, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/base.scss */
.one-edge-shadow {
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black; }

/* line 135, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/base.scss */
.round-all {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

/* line 141, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/base.scss */
.center-img {
  display: block;
  margin: 0 auto; }

/* line 146, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/base.scss */
.hide {
  display: none; }

/* line 150, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/base.scss */
.active {
  opacity: 1; }

/* line 154, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/base.scss */
.clearfix {
  clear: both; }

/* line 158, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/base.scss */
.circle-img {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  display: block; }
