/* line 1, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/form.scss */
.contact {
  width: 100%; }
  /* line 3, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/form.scss */
  .contact form {
    width: 90%;
    margin: 0 auto;
    margin-top: 25px; }
    /* line 7, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/form.scss */
    .contact form input, .contact form textarea {
      -webkit-border-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      resize: none; }
    /* line 13, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/form.scss */
    .contact form input, .contact form textarea {
      font-family: 'Cabin', sans-serif;
      font-size: 14px;
      line-height: 24px;
      padding: 10px;
      border: 1px solid #777777;
      border-radius: 5px; }
    /* line 21, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/form.scss */
    .contact form input.name, .contact form input.email {
      width: 44.8%;
      margin: 1%; }
    /* line 26, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/form.scss */
    .contact form textarea.message {
      width: 92%;
      height: 200px;
      margin: 1%; }
    /* line 31, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/form.scss */
    .contact form input.button {
      width: 92%;
      margin: 1%;
      border: none;
      padding: 15px 25px;
      color: #ffffff;
      background-color: #777;
      opacity: 0.75;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      /* line 42, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/form.scss */
      .contact form input.button:hover {
        background-color: #27ae60;
        color: #fff; }
