/* line 3, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/header.scss */
.header {
  background-color: #2980b9;
  width: 100%; }
  /* line 6, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/header.scss */
  .header nav {
    height: 250px; }
  /* line 10, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/header.scss */
  .header h1 {
    float: left;
    display: inline;
    padding: 90px 0 0 10%;
    margin: 0; }
  /* line 17, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/header.scss */
  .header ul {
    float: right;
    display: inline;
    padding: 95px 7% 0 0;
    margin: 0; }
    /* line 22, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/header.scss */
    .header ul li {
      float: left;
      display: inline;
      padding: 0 40px 0 0;
      margin: 0; }
