@media (max-width: 1200px) {
  /* line 8, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/mediaquery.scss */
  .third {
    width: 90%;
    margin: 0 5% 0 5%;
    padding: 0; }
    /* line 12, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/mediaquery.scss */
    .third img {
      margin: 0 auto;
      display: block; } }
@media (max-width: 860px) {
  /* line 21, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/mediaquery.scss */
  .header-margin {
    margin-left: 5%; }

  /* line 25, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/mediaquery.scss */
  .wrap {
    width: 100%; }

  /* line 29, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/mediaquery.scss */
  .full {
    width: 90%;
    margin: 0 auto; }

  /* line 35, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/mediaquery.scss */
  .header h1 {
    float: initial;
    display: block;
    text-align: center;
    padding: 80px 0 0 0;
    margin: 0; }
  /* line 43, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/mediaquery.scss */
  .header ul {
    float: initial;
    display: block;
    text-align: center;
    padding: 0 0 0 1.25%;
    margin: 0; }
  /* line 50, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/mediaquery.scss */
  .header ul li {
    float: initial;
    padding: 0;
    margin: 0; }
    /* line 54, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/mediaquery.scss */
    .header ul li a {
      padding: 0 3% 0 0; }

  /* line 60, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/mediaquery.scss */
  .contact form input.name, .contact form input.email {
    display: block;
    width: 92.5%;
    margin-bottom: 15px; } }
@media (max-width: 650px) {
  /* line 69, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/mediaquery.scss */
  .marketing {
    background: url("../images/marketing.jpg") no-repeat -77px 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

  /* line 78, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/mediaquery.scss */
  .header ul li {
    display: inline; } }
@media (max-width: 450px) {
  /* line 85, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/mediaquery.scss */
  .marketing {
    background: url("../images/marketing.jpg") no-repeat -150px 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

  /* line 92, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/mediaquery.scss */
  .large {
    font-size: 36px; } }
