@media (max-width: 1200px) {
  /* line 4, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/mediaquery.scss */
  .third {
    width: 90%;
    margin: 0 5% 0 5%;
    padding: 0; }
    /* line 8, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/mediaquery.scss */
    .third img {
      margin: 0 auto;
      display: block; } }
@media (max-width: 860px) {
  /* line 19, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/mediaquery.scss */
  .resume .row img {
    float: none; }
  /* line 22, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/mediaquery.scss */
  .resume .row .left {
    width: 100%; }
    /* line 24, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/mediaquery.scss */
    .resume .row .left h2 {
      text-align: center; }
  /* line 28, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/mediaquery.scss */
  .resume .row .right {
    width: 100%; }
    /* line 30, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/mediaquery.scss */
    .resume .row .right p {
      margin: 5%; }
    /* line 33, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/mediaquery.scss */
    .resume .row .right h3 {
      margin: 5%; }

  /* line 40, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/mediaquery.scss */
  .instagram-img {
    float: left;
    width: 75%;
    margin: 7%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; }

  /* line 49, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/mediaquery.scss */
  .circle-img {
    display: block;
    margin: 0 auto; }

  /* line 53, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/mediaquery.scss */
  .two {
    width: 90%;
    margin: 5% 5% 0 5%;
    padding: 0; }
    /* line 57, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/mediaquery.scss */
    .two p {
      width: 90%;
      margin: 0 auto; }

  /* line 63, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/mediaquery.scss */
  .header-margin {
    margin-left: 5%; }

  /* line 67, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/mediaquery.scss */
  .wrap {
    width: 100%; }

  /* line 71, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/mediaquery.scss */
  .full {
    width: 90%;
    margin: 0 auto;
    padding-top: 15px; }

  /* line 78, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/mediaquery.scss */
  figure img.large {
    width: 90%; }
  /* line 81, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/mediaquery.scss */
  figure img.resume-pic {
    margin: 0 auto;
    display: block; }

  /* line 88, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/mediaquery.scss */
  .header h1 {
    display: block;
    text-align: center;
    padding: 80px 0 0 0;
    margin: 0 0 0 3%; }
  /* line 95, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/mediaquery.scss */
  .header ul {
    display: block;
    text-align: center;
    padding: 90px 0% 0 0;
    margin: 0; }
  /* line 101, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/mediaquery.scss */
  .header ul li {
    float: initial;
    margin: 0; }

  /* line 108, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/mediaquery.scss */
  .contact form input.name, .contact form input.email {
    display: block;
    width: 92.5%;
    margin-bottom: 15px; } }
@media (max-width: 650px) {
  /* line 117, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/mediaquery.scss */
  .marketing {
    background: url("../images/marketing.jpg") no-repeat -77px 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; } }
@media (max-width: 700px) {
  /* line 128, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/mediaquery.scss */
  .header h1 {
    float: none; }
  /* line 131, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/mediaquery.scss */
  .header ul {
    float: none;
    margin: 0 auto;
    padding: 10px 0 0 0; }
    /* line 135, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/mediaquery.scss */
    .header ul li {
      padding: 0 5px 0 0; } }
@media (max-width: 450px) {
  /* line 144, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/mediaquery.scss */
  .marketing {
    background: url("../images/marketing.jpg") no-repeat -150px 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

  /* line 151, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/mediaquery.scss */
  .large {
    font-size: 36px; } }
