/* line 6, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/typography.scss */
p, ul li, a {
  font-family: "Cabin", sans-serif;
  opacity: 0.9;
  color: #5b6064;
  line-height: 24px;
  letter-spacing: 0.5px; }

/* line 14, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/typography.scss */
p {
  font-size: 14px; }

/* line 18, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/typography.scss */
a {
  text-decoration: none;
  color: #5b6064;
  font-family: "Cabin", sans-serif; }

/* line 24, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/typography.scss */
a:hover {
  color: #202020; }

/* line 28, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: serif;
  color: #222222;
  font-family: "Arvo", serif; }

/* line 34, /Users/thomasberry/Desktop/development/responsive-personal-site/source/stylesheets/typography.scss */
.code {
  font-family: 'cousine' sans-serif; }
